<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/famask">Faisal Abdullah</a> as part of an assigment for The Firehose Project.
  </p>
  <p>
    If you also want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'faisal.png', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Faisal Abdullah</h2>
    <br />
    <p>
      Having knowledge of HTML back in the mid to late 90s gave me an opportunity to be involved [in various capacities] with different websites for over a number of years. Having lost my way for a bit, my interest in all things web related has resurfaced, and now my goal is to pursue a rigorous training schedule to become a Full Stack Web Developer and finish what I started back in the 90s.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>